* {
  background-color: black;
  color: white; 
}

.header {
  padding: 30px;
}
.planets {
  padding-left: 100px;
  width:inherit;
  height: inherit;
  max-width: inherit;
}

img {
  height: 135px;
  width: 135px;
}

 .galactic {
   padding-top: 50px;
    padding-left: 100px;
}

.card-title, .card-text {
  text-align: center;
}